.modalHeader {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.walletButton {
  padding: 10px;
  width: 100%;
  justify-content: flex-start;

  img {
    margin-right: 10px;
  }
}
